---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="container is-fluid">
        <div class="container">
            <p class="title">
              Le calendrier partagé par toutes les communautés lyonnaises
            </p>
            <p class="subtitle">
              Venez rencontrer toutes ces communautés et leurs participants !
            </p>
            <p><span class="icon is-medium"><i class="fa fa-calendar"></i></span>Ajouter le calendrier des nouveaux événements à vos calendriers (<a
                    href="https://www.lyontechhub.org/Lyon-Tech-Hub-Calendar/calendar.ics">au
                    format ical</a> ou sur Google via le bouton en bas à droite du calendrier)</p>
            <p><span class="icon is-medium"><i class="fa fa-bolt"></i></span>Ajouter une alerte Google Calendar pour ne plus en manquer un!</p>

            <nav class="navbar is-justify-content-center">
              <button type="button" class="button is-default nav-item" id ="calendarToday">Today</button>
              <button type="button" class="button is-default nav-item" id ="calendarPrevious">
                <span class="icon is-medium">
                  <i class="fa fa-chevron-left fa-lg"></i>
                </span>
              </button>
              <button type="button" class="button is-default nav-item" id ="calendarNext">
                <span class="icon is-medium">
                  <i class="fa fa-chevron-right fa-lg"></i>
                </span>
              </button>
            </nav>
            <div id="calendar"></div>
        </div>
    </div>
  </main>
</Layout>
