---
import Layout from '../layouts/Layout.astro';
import { getList } from '../lib/communities.ts';

const communities = getList();

---

<Layout>
  <main>
    <div class="container is-fluid">
        <h1 class="title">
            {communities.length} communautés diverses et variées regroupées dans Lyon Tech Hub<br />
            <small><a href="/about">Par ici pour référencer la votre !</a></small>
        </h1>
        <div class="field">
          <label class="label" for="filterCommunities">Rechercher</label>
          <div class="control">
            <input type="text" id="filterCommunities" onkeyup="dynamicFilter('filterCommunities')" />
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="grid is-col-min-12">
            {communities
                .map(
                    (community) => (
                        <div class="cell filterable" data-key={community.name}>
                            <div class="card">
                                <header class="card-header">
                                  <a href={`/community/` + community.key}>
                                    <p class="card-header-title">{community.name}</p>
                                  </a>
                                </header>
                                <div class="card-image">
                                    <a href={`/community/` + community.key}>
                                      <figure class="image">
                                        <img src={`/imgs/communities/` + community.image}
                                             alt={community.name}
                                             onerror="this.onerror=null;this.src='/imgs/noLogo.png';"
                                        />
                                      </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    )
                )
            }
        </div>
    </div>
  </main>
</Layout>
