---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
      <br /
    <div class="container is-fluid has-text-black">
        <div class="container">
            <p class="title has-text-black">Lyon Tech Hub</p>
            <p class="subtitle has-text-black">Le hub des communautés IT/techniques lyonnaises</p>
            <br />
            <div class="columns">
                <div class="column is-4 has-text-black">
                    <a href="/communities"><span class="icon is-large"><i class="fa fa-comments fa-5x"></i></span></a>
                    <p class="title is-3 has-text-black">Des communautés diverses et variées</p>
                    <p>Des technos, des pratiques, des outils...à découvrir</p>
                </div>
                <div class="column is-4 has-text-black">
                    <span class="icon is-large"><i class="fas fa-users fa-5x"></i></span>
                    <p class="title is-3 has-text-black">Des experts passionnés</p>
                    <p>Les participants et les organisateurs font de leur métier une passion</p>
                </div>
                <div class="column is-4 has-text-black">
                    <a href="/calendar"><span class="icon is-large"><i class="fa fa-calendar fa-5x"></i></span></a>
                    <p class="title is-3 has-text-black">Un calendrier de tous les événements</p>
                    <p>Plus aucune raison de manquer un des événements !</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container is-fluid has-text-black">
        <div class="container">
            <p class="title has-text-black">Bien plus qu'un calendrier ! Vous êtes...</p>
            <br />
            <div class="columns">
                <div class="column is-6">
                    <a href="/member">
                        <span class="icon is-medium"><i class="fa fa-street-view fa-5x"></i></span>
                        <p class="title is-3 has-text-black">Membre d'une communauté</p>
                    </a>
                </div>
                <div class="column is-6">
                    <a href="/orga">
                        <span class="icon is-medium"><i class="fa fa-bullhorn fa-5x"></i></span>
                        <p class="title is-3 has-text-black">Orga d'une communauté</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </main>
</Layout>
