---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <div class="section">
        <div class="container">
            <div class="container">
              <p class="title">Lyon Tech Hub</p>
              <p class="subtitle">Le hub des communautés IT/techniques lyonnaises</p>
            </div>
            <div class="grid mt-4">
                <div class="cell">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <a href="/communities">
                                <span class="icon is-large"><i class="fa fa-comments fa-5x"></i></span>
                            </a>
                            <br />
                            <br />
                            <p class="title is-3">Des communautés diverses et variées</p>
                            <p>Des technos, des pratiques, des outils...à découvrir</p>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <span class="icon is-large"><i class="fas fa-users fa-5x"></i></span>
                            <br />
                            <br />
                            <p class="title is-3">Des experts passionnés</p>
                            <p>Les participants et les organisateurs font de leur métier une passion</p>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <a href="/calendar">
                                <span class="icon is-large"><i class="fa fa-calendar fa-5x"></i></span>
                            </a>
                            <br />
                            <br />
                            <p class="title is-3">Un calendrier de tous les événements</p>
                            <p>Plus aucune raison de manquer un des événements !</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
              <p class="title">Bien plus qu'un calendrier ! Vous êtes...</p>
            </div>
            <div class="grid mt-4">
                <div class="cell">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <a href="/member">
                                <span class="icon is-medium"><i class="fa fa-street-view fa-5x"></i></span>
                                <br />
                                <br />
                                <p class="title is-3">Membre d'une communauté</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="card">
                        <div class="card-content has-text-centered">
                            <a href="/orga">
                                <span class="icon is-medium"><i class="fa fa-bullhorn fa-5x"></i></span>
                                <br />
                                <br />
                                <p class="title is-3">Orga d'une communauté</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
</Layout>
