---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main>
        <div class="container-fluid">
            <div class="container">
                <h2>Vous êtes membre d'une communauté</h2>
                <div class="col-lg-6">
                    <span class="fa fa-slack fa-3x"></span>
                    <h3>Slack</h3>
                    <p>Rejoignez le slack pour continuer à échanger entre les évènements de vos communautés, et
                        mettre
                        en avant
                        vos prochains événements. Inscrivez vous : <b><a href="https://slack.lyontechhub.org/"
                                                                         title="Inscription sur le Slack de Lyon Tech Hub">https://slack.lyontechhub.org/</a></b>
                    </p>
                </div>
                <div class="col-lg-6">
                    <span class="fa fa-handshake-o fa-3x"></span>
                    <h3>Soirée des Communautés</h3>
                    <p>Ne manquez pas notre événement annuel en juin, la Soirée des Communautés, où vous pourrez
                        rencontrer
                        d'autres
                        organisateurs, échanger des conseils et résoudre des problèmes ensemble. C'est l'occasion
                        idéale
                        pour
                        découvrir de
                        nouvelles astuces et partager vos expériences.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <h2>Pour plus d'opportunités de...</h2>
                <div class="col-lg-3">
                    <span class="fa fa-beer fa-3x"></span>
                    <h3>Rencontrer</h3>
                    <p>Les événements sont une très bonne occasion pour rencontrer des experts pour vous aider dans
                        vos
                        projets, de potentiels clients, de futurs ou anciens collègues, ou pour le plaisir !</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-flask fa-3x"></span>
                    <h3>Découvrir</h3>
                    <p>Vous trouverez toujours un sujet à découvrir pour en faire une opportunité de faire mieux ou
                        tout
                        simplement autrement</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-rocket fa-3x"></span>
                    <h3>Apprendre</h3>
                    <p>Vous apprendrez des expériences des autres, vous serez motivé pour aller plus loin suite à la
                        découverte d'un sujet, vous rencontrerez des formateurs reconnus...</p>
                </div>
                <div class="col-lg-3">
                    <span class="fa fa-gears fa-3x"></span>
                    <h3>Echanger</h3>
                    <p>La richesse et la diversité des échanges vous apporteront de nouvelles perspectives et des
                        idées
                        pour le futur</p>
                </div>
            </div>
        </div>
    </main>
</Layout>
